PAYLOAD_SECRET=YOUR_SECRET_HERE
DATABASE_URL=postgres://{user}:{password}@{hostname}:{port}/{database-name}

POSTGRES_URL=123
NEXT_PUBLIC_SITE_URL=https://localhost:3000
BLOB_READ_WRITE_TOKEN=123-token
REVALIDATION_SECRET=123-token
NEXT_PUBLIC_SEMBLE_TOKEN=semble-token
RESEND_API_KEY=api-key-resend
RESEND_EMAIL_RECEIVER=your-email-here